.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 30px auto 0;
    padding: 0 50px;
}

.navbar__logo {
    width: 188px;
    height: 30px;
    display: flex;
    align-items: center;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 500px;
    padding: 0;
}

.nav-links img {
    width: 30px;
}