section.board-section
    height: 100%
    background: 
        image: url('../img/bg.png')
        size: cover
        repeat: no-repeat
        position-y: bottom
    display: flex
    justify-content: center
    align-items: center

.board
    width: 755px
    height: 550px
    display: flex
    background-color: #fff