.confirmed-wrapper 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100%

.confirmed 
    width: 100%
    
    +elm(icon)
        width: 55px
        margin-bottom: 40px

    h2
        font-size: 30px
        margin: 0 0 5px
    p
        font-size: 14px
        margin: 0 0 20px

        span
            text:
                transform: uppercase
                decoration: underline