// Main cover & indexCover styles
#cover
    width: 237px
    min-width: 237px

.cover-wrapper
    padding: 25px 30px
    +elm('index')
        padding: 20px 15px 65px 20px

    +elm('astro')
        width: 80px
        height: 115px
        margin: 0 auto

    +elm('title')
        margin: 45px 0 25px

    +elm('text')
        line-height: 23px

// Cover 2
.cover-body
    padding-top: 20px

    .section
        margin-bottom: 20px

        +elm('title')
            margin: 0

        +elm('subtitle')
            margin: 0