#steps-wrapper
    width: 464px
    padding: 45px 45px 25px 70px
    box-sizing: border-box

    .step
        padding-right: 55px

        input[type="text"]
            width: 100%
            box-sizing: border-box
            height: 36px
            border: none
            border-bottom: 2px solid $light_gray
            transition: $transition
            &:focus
                outline: transparent
                border-bottom: 2px solid $accent_blue

.step-header
    margin-bottom: 20px

    +elm('title')
        margin: 0
        font-size: 20px

    +elm('subtitle')
        margin: 0

.slider-wrapper__slider > div 
    height: 30px!important
    margin: 7px 0 0 0!important

.slider-wrapper
    display: flex
    transition: $transition

    +elm(slider)
        width: 100%

        +mod(--hidden)
            opacity: 0
            height: 0

    +elm('bubbel')
        min-width: 80px
        height: auto
        margin-left: 20px
        border: 1px solid $light_gray
        border-radius: 3px
        text-align: center
        line-height: 2
        position: relative
        &::before
            content: ''
            position: absolute
            top: 10px
            left: -8px
            transform: rotate(-45deg)
            background-color: white
            display: block
            width: 13px
            height: 13px
            border-left: 1px solid lightgray
            border-top: 1px solid lightgray

.step-body
    +elm('checkbox')
        padding: 10px 0 5px

    +elm('text')
        margin: 0
        height: 35px
        line-height: 3
        font-size: 14px

.btn-group
    transform: translate(60px, 10px)
    display: flex
    justify-content: flex-end