// Main step & indexStep styles
#steps-wrapper
    width: 464px
    padding: 25px 45px 25px 70px
    box-sizing: border-box

    .step
        padding-right: 55px
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%

        input
            width: 100%
            box-sizing: border-box
            height: 36px
            margin-bottom: 1px
            border: none
            border-bottom: 2px solid $light_gray
            transition: $transition
            &:focus
                outline: transparent
                border-bottom: 2px solid #00bcd4

.step-body
    min-height: 348px
    
    +elm('checkbox')
        padding: 10px 0 5px

    +elm('text')
        margin: 0
        height: 35px
        line-height: 3
        font-size: 14px

    +elm('input-wrapper')
        margin-bottom: 15px

    .slider-wrapper__slider > div 
        height: 30px!important
        margin: 7px 0 0 0!important

    .slider-wrapper--hidden
        transition: $transition
        opacity: 0
        height: 0

    .slider-wrapper
        display: flex
        transition: $transition
        +mod('--hidden')
            opacity: 0
            height: 0

        +elm('slider')
            width: 100%

        +elm('bubbel')
            min-width: 80px
            height: auto
            margin-left: 20px
            border: 1px solid $light_gray
            border-radius: 3px
            text-align: center
            line-height: 2
            position: relative
            &::before
                content: ''
                position: absolute
                top: 10px
                left: -8px
                transform: rotate(-45deg)
                background-color: white
                display: block
                width: 13px
                height: 13px
                border-left: 1px solid lightgray
                border-top: 1px solid lightgray

.btn-group
    transform: translateX(55px)
    display: flex
    justify-content: flex-end


// Step 1
.section-wrapper
    margin-top: 40px

    +elm('title')
        margin: 0
        margin-bottom: 10px

// Step 3
.path
    display: flex
    justify-content: space-between
    align-items: center
    padding: 14px 20px
    border: 1px solid $light_gray
    margin-bottom: 10px
    color: $dark_gray
    font:
        size: 17px
        weight: bold
    transition: $transition
    &:last-child
        margin-bottom: 0
    &:hover
        cursor: pointer

    +elm('checkbox')
        width: 24px!important

    +mod('checked')
        background-color: $accent_blue

.path--checked
    .path__percentage,
    .path__title
        color: #fff

.careerPath-desc
    color: $dark_gray
    font-size: 11px
    display: block
    margin-left: auto
    text-align: right

// Step 4
.skill-cloud
    display: flex
    flex-wrap: wrap
    margin-bottom: 30px

    +elm('item')
        font-size: 12px
        border: 1px solid $light_gray
        border-radius: 3px
        padding: 10px
        color: $dark_gray
        margin:
            right: 5px
            bottom: 6px
        &:hover
            cursor: pointer

.skill
    background: $light_gray
    width: 137px
    display: inline-block
    height: 28px
    margin:
        bottom: 3px
        right: 7px
    border: 1px solid $light_gray