@import 'vars'

body
  background:
    color: $bg-color
    image: url('../img/bg.png')
    size: contain
    repeat: no-repeat
    position-y: bottom
  min-height: 100vh

  h1
    font:
      weight: 700
      size: 20px
    line-height: 12px
