@import 'mixins'
@import 'vars'

body
  background:
    color: $bg-color
    image: url('../img/bg.png')
    size: contain
    repeat: no-repeat
    position-y: bottom
  min-height: 100vh

.list
  list-style-type: none
  padding: 0
  
  +elm('item')
    display: inline-block
    margin-right: 50px
    &:hover

    +mod('last')
      margin-right: 0
      background-color: $accent
